<h1>Sign-up today!</h1>


<p>Please make sure to fill out all the fields!</p>

<form action="/signup" method="post">
FULL NAME: <input type="text" name="user[full_name]"><br>
EMAIL:  <input type="text" name="user[email]"><br>
PASSWORD:  <input type="password" name="user[password]"><br>
<br>
  <input type="submit" value="Confirm">
</form>
